body{
    background-color: #8FB9A8;
    font-family: 'Maven Pro', sans-serif;
}
.ocultar{
    display: none !important;
}
.inicio{
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}
.inicio p{
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 19px;
    color: #333333;

}
.nivel{
    width:40%;
    display: inline-block;
    text-align: center;
    background: #FFCDA8;
    border:3px solid #FFCDA8;
    border-radius: 20px;
    padding: 10px 0;
    vertical-align: top;
}
.candado{
    width:40%;
    display: inline-block;
    text-align: center;
    margin:0 50px;
    vertical-align: top;
}
.compu{
    width: 300px;
    height: 400px;
    border-radius: 20px;
}
.imgseguro{
    width: 300px;
    border-radius: 20px;
}
.codi{
    width: 380px;
    border-radius: 20px;
}
.opciones{
    display: inline;
    flex-direction: column;
    justify-content: space-between;

}
.criterios{
    width:40%;
    display: inline-block;
    text-align: center;
    margin: 120px 40px;
    background: #FFCDA8;
    border:3px solid #FFCDA8;
    border-radius: 20px;
    padding: 10px 0;
    vertical-align: top;
    height: 400px;
}
.logos{
    margin: 120px 80px;
    width: 40%;
    display: inline-block;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 30px;
    border-radius: 10px;
    
}

select{
    width:15%;
    height: 20px;
}
.nivelSeguridad{
    display: inline;
    flex-direction: column;
    justify-content: space-between;
}
.cifrador{
    display: inline;
    flex-direction: colun;
    justify-content: space-between; 
}
.cifrar{
    width:40%;
    display: inline-block;
    text-align: center;
    margin: 120px 40px;
    background: #FFCDA8;
    border:3px solid #FFCDA8;
    border-radius: 20px;
    padding: 10px 0;
    vertical-align: top;
    height: 400px;
}
button{
    margin: 10px 30px;  
}
input{
    width:70%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid gray;
    margin-bottom: 20px;
}
.descifrador{
    display: inline;
    flex-direction: column;
    justify-content: space-between; 
}
.descifrar{
    width:40%;
    display: inline-block;
    text-align: center;
    margin: 120px 40px;
    background: #FFCDA8;
    border:3px solid #FFCDA8;
    border-radius: 20px;
    padding: 10px 0;
    vertical-align: top;
    height: 400px;
}
.logo-link{
    width: 100px;
    height: 100px;
    margin:  40px;
    background-size: 100px 100px;
    border-radius: 10px;
    display: inline-block;
}
.logo-face{
    background-image: url("imagenes/logo face.jfif");
    
    
}
.logo-gmail{
    background-image: url("imagenes/logo gmail.jfif");
    
}
.logo-instagram{
    background-image: url("imagenes/logo instagram.jfif");
    
}
.logo-yahoo{
    background-image: url("imagenes/logo yahoo.jfif");
    
}